@import "tailwindcss";

@theme {
  /* Definição das Keyframes */
  @keyframes mesh-float {
    0% {
      transform: translate(0, 0) scale(1) rotate(0deg);
    }
    33% {
      transform: translate(15%, -10%) scale(1.2) rotate(10deg);
    }
    66% {
      transform: translate(-10%, 20%) scale(0.9) rotate(-10deg);
    }
    100% {
      transform: translate(0, 0) scale(1) rotate(0deg);
    }
  }

  --animate-mesh-1: mesh-float 10s ease-in-out infinite;
  --animate-mesh-2: mesh-float 15s ease-in-out infinite reverse;
  --animate-mesh-3: mesh-float 12s ease-in-out infinite;

  --font-saira: "Saira", sans-serif;
}

:root {
  font-family: var(--font-saira);
  font-size: 1.125rem; /* text-lg */
  color: #374151; /* text-gray-700 */
  background-color: #fafafa; /* bg-zinc-50 */
}

.dark :root {
  background-color: #050505;
  color: #f3f4f6;
}
